:root {
    --header-color: #90B030;
    --link-color: #90B030;
    --btn-radius: 5px;
    --solid-bg-color: #90B030;
    --solid-txt-color: #ffffff;
    --outline-bg-color: #ffffff;
    --outline-txt-color: #90B030;
    --outline-color: 1px solid #90B030;
    --img-radius: 50%;
}

* {
    margin: 0;
}

.App {
    background-color: rgb(209, 219, 180);
    min-height: 100vh;
    position: relative;
}

/* LINKS */
a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 900;
    margin: 20px;
    cursor: pointer;
}

/* BUTTONS */
.solid-btn,
.outline-btn {
    text-align: center;
    width: 100px;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    border-radius: var(--btn-radius);
    cursor: pointer;
}

.solid-btn {
    background-color: var(--solid-bg-color);
    color: var(--solid-txt-color);
    border: none;
}

.outline-btn {
    background-color: var(--outline-bg-color);
    color: var(--outline-txt-color);
    border: var(--outline-color);
}

button.solid-btn,
button.outline-btn {
    width: 130px;
    margin: 20px;
}

.hero {
    background-image: url("/public/img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading {
    text-align: center;
    color: #ffffff;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}